html{
    font-family: Calibri;
    color: white;
    scroll-behavior: smooth;
    background-color: #121212;
}

img:hover{
    cursor: pointer;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

#calendar{
    background: #303030;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    padding: 10px;
}

.dayDiv{
    width: 14%;
    text-align: center;
}

.dayDiv h3{
    color: aqua;
}

.realDayDiv{
    width: 14%;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.realDayDiv p{
    margin: auto;
    width: 50%;
    padding: 20px;
}

#yearText{
    text-align: center;
    margin: -10px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

#today{
    background-color: aqua;
    color: #303030;
    border-radius: 30px;
    font-weight: bold;
}