html{
    color: white;
    background-color: #57419d;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

input{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

button{
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.left {
    flex: 60%;
    background-color: #57419d;
    padding: 40px;
    padding-top: 0px;
    color: #ffcb83;
}

.right {
    flex: 40%;
    background-color: #151515;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    width: 80%;
}

.section h1{
    color: #ffcb83;
    font-family: DM Serif Display;
    font-size: 60px;
    margin-bottom: 80px;
}

.section p{
    text-align: left;
    font-size: 18px;
}

.section span{
    margin-left: 20px;
    margin-right: 20px;
    color: #ffcb83;
}

.logoSpan {
    font-size: 30px;
}

.text {
    margin: 10px;
}

#footer{
    margin-top: 15%;
    color: #ffcb83;
    font-weight: bold;
}

#footer p{
    font-size: medium;
    cursor: pointer;
}

#mainContent{
    margin: auto;
    width: 30%;
    margin-top: 25%;
}

#mainContent button{
    background: #0464ec;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#mainContent .secondButton{
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
}

#mainContent .milestonesAddButton{
    background: #0464ec;
    color: white;
    padding: 10px;
    width: 20%;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
}

#mainContent button:hover{
    background-color: #046cff;
}

.formInput{
    border: 2px solid #ffcb83;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.formInput h4{
    height: 2px;
    font-size: 16px;
    color: #ffcb83;
    margin-top: 0px;
}

.error{
    color: red;
    font-weight: bold;
}

.goalDiv{
    width: 60%;
    margin: auto;
    padding: 40px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.milestonesTable{
    width: 100%;
}

.milestonesTableStatus{
    text-align: center;
    border-radius: 10px;
    color: transparent;
}

.statusBox{
    width: 20px;
    height: 20px;
    color: transparent;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.milestone{
    display: flex;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.milestoneTop{
    display: flex;
    padding: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.milestoneNumber{
    width: 2%;
    font-size: 20px;
    font-weight: bold;
}

.milestoneText{
    width: 55%;
    margin-left: 3%;
}

.milestoneText input{
    font-size: 17px;
}

.milestoneDeadline{
    width: 25%;
}

.milestoneDeadline input{
    color: white;
    text-align: center;
}

.milestoneStatus{
    width: 15%;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #57419d;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #ffcb83;
    display: block;
}
  
.main {
    margin-left: 240px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    color: white;
    width: 100%;
    background-color: #151515;   
}

#logoSidenav{
    color: #ffcb83;
    margin: 20px;
    margin-top: -30px;
    margin-bottom: 80px;
}

#time{
    float: right;
}

.sidenavoption{
    display: flex;
    margin: 20px;
    margin-top: 40px;
    margin-left: 30px;
    color: #c9c7e7;
}

.sidenavoption div{
    font-size: 18px;
    margin-left: 25px;
    margin-top: 5px;
}

.blueButton{
    background: #0464ec;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.blueButton:hover{
    background-color: #046cff;
}

#timeDiv{
    display: flex;
    margin-top: -50px;
    float: right;
}

.mainContentDashboard{
    margin: 60px;
}

.goalwidgets p{
    color: #ffcb83;
}

.goalwidgets{
    font-size: 20px;
    flex: 70%;
}

.star{
    color: yellow;
    font-size: 30px;
    margin-top: -5px;
    width: 5%;
    margin-left: 10px;
}

.weeklyGoalOverviewRowText{
    width: 85%;
    margin-top: 3px;
    font-size: 25px;
}

.weeklyGoalOverview{
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    width: 100%;
    margin-top: 40px;
}

.weeklyGoalOverviewRow{
    display: flex;
    background: #57419d;
    width: 90%;
    border-radius: 10px;
    padding: 10px;
}

.weeklyGoalOverviewHeadline{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
}

.weeklyGoalOverviewHeadlineText{
    font-size: 35px;
}

.weeklyGoalOverviewHeadlineLink{
    float: right;
    color: #ffcb83;
    font-size: 18px;
    margin-top: 15px;
}

html{
    font-family: Calibri;
    color: white;
    scroll-behavior: smooth;
    background-color: #121212;
}

img:hover{
    cursor: pointer;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

#calendar{
    border: 2px solid white;
    border-radius: 20px;
    width: 30%;
    margin: auto;
    padding: 10px;
    font-size: 10px;
    flex: 30%;
}

.dayDiv{
    width: 14%;
    text-align: center;
}

.dayDiv h3{
    color: #ffcb83;
}

.realDayDiv{
    width: 14%;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.realDayDiv p{
    margin: auto;
    width: 50%;
    padding: 20px;
}

#yearText{
    text-align: center;
    margin: -10px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-weight: bold;
}

#today{
    background-color: #ffcb83;
    color: #303030;
    border-radius: 30px;
    font-weight: bold;
}

#timeText{
    font-size: 50px;
}