html{
    background-color: #252525;
    color: white;
    font-family: Arial;
}

header{
    background-color: #202020;
    padding: 20px;
    margin: -8px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.menu{
    text-align: center;
    margin-top: -10px;
}

.menu a{
    font-size: 25px;
    font-family: Bungee;
    margin: auto;
    color: #018c71;
    text-decoration: none;
    margin: 5%;
}

table {
    width: 95%;
    margin: auto;
    border-spacing: 10px;
    background: #353535;
    padding-left: 0px;
    border-radius: 15px;
    border: 1px solid #353535;
    box-shadow: 5px 10px #222;
    margin-bottom: 20px;
}

th{
    color: #018c71;
}

td{
    text-align: center;
}

.teamName{
    text-align: left;
}

.colorPlaceholder{
    border-radius: 10px;
    color: transparent;
}

.games{
    outline: thin solid;
    border-radius: 10px;
}

.games td{
    padding: 5px;
}

.win{
    color: #0dd70d;
}

.lose{
    color: red;
}

.draw{
    color: orange;
}

hr{
    width: 85%;
    color: #018c71;
}

h3{
    color: #018c71;
    font-family: Bungee;
    margin: 0px;
    margin-left: 5%;
    margin-bottom: 2%;
}

.gameDiv{
    color: white;
    font-weight: bold;
}

.gameDiv table{
    width: 85%;
    background: #018c71;
    padding-left: 0px;
    border-radius: 15px;
    border: 1px solid #018c71;
    box-shadow: 5px 10px #024a3c;
    margin-bottom: 20px;
}