<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>WeekendSpot</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="img/minilogo.png">
</head>
<body onload="loadFunctions()">
    <p id="userOutput" style="display: none;"><%= user %></p>

    <header id="header" class="divider">
        <table style="width: 90%; margin: auto; margin-bottom: 10px;">
            <tr>
                <th style="width: 66%;"></th>
                <th style="width: 12%;"></th>
                <th style="width: 12%;"></th>
            </tr>

            <tr>
                <td>
                    <div class="top-box">
                        <img src="img/search.png" alt="Suche" width="30px">
                        <input type="text" placeholder="Nach Nutzern suchen">
                    </div>
                </td>

                <td style="text-align: center;">
                    <img src="img/add_user.png" alt="Add user" width="24px" style="margin-top: 5px;">
                </td>

                <td style="text-align: center;">
                    <img src="img/little_share.png" alt="Share" width="24px" style="margin-top: 5px;">
                </td>
            </tr>
        </table>

        <hr class="boldHr" style="width: 95%; margin-bottom: 0px;" >
    </header>

    <div id="main" style="margin-top: 10px;">
        <p class="miniText">yann_rkb und 12 weitere Freunde besuchen</p>

        
    </div>

    <footer>
        <hr class="boldHr">

        <table style="width: 100%;">
            <tr>
                <td><img src="img/home.png" alt="Home"  class="footerImg" onclick="window.location = '/'"></td>
                <td><img src="img/group.png" alt="Share" class="footerImg" style="background: #4ca6ff;"></td>
                <td><img src="img/like.png" alt="Likes" class="footerImg" onclick="window.location = '/likes'"></td>
                <td><img src="img/account.png" alt="Account" class="footerImg" onclick="window.location = '/account'"></td>
            </tr>
        </table>
    </footer>

    <script src="client.js"></script>
</body>
</html>