html{
    font-family: Calibri;
    color: #111111;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

input[type="file"] {
    display: none;
}

button{
    cursor: pointer;
}

input{
    background: transparent;
}

.hover{
    cursor: pointer;
}

.flexBox{
    display: flex;
    flex-wrap: wrap;
}

hr{
    border: 0 none;
    height: 1px;
    background: #cecece;
    margin-top: -2px;
}

body{
    margin: -10px;
}

header{
    position: sticky;
    top: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    padding-top: 10px;
    background-color: white;
}

footer{
    position: sticky;
    bottom: 0;
    padding-bottom: 10px;
    background-color: white;
    margin-top: auto;
}

footer table td{
    width: 25%;
    text-align: center;
}

footer img{
    border-radius: 10px;
    padding: 5px;
    width: 40px;
}

#top{
    margin: 8px;
}

.top-box{
    border: 2px solid black;
    border-radius: 10px;
}

.top-box img{
    vertical-align: bottom;
}

.top-box input{
    font-size: 16px;
    height: 30px;
}

input{
    border: none;
    outline: none;
}

a{
    text-decoration: none;
    color: #111111;
}

h1{
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: -20px;
}

h4{
    height: 0px;
}

#menuRight{
    float: right; 
    margin-right: 50px;
}

#menuRight img{
    cursor: pointer;
}

#menuRight img:hover{
    background-color: #cecece;
    border-radius: 30px;
}

#menuRight a:hover{
    background-color: #cecece;
    border-radius: 30px;
}

.accountMenuClass{
    border-radius: 15px;
    background-color: #ebebeb;
    padding: 10px;
    left: 1700px;
    position: absolute;
    right: 55px;
    top: 60px;
    border: 1px solid #ddd;
}

.accountMenuClass div{
    margin: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
}

.accountMenuClass div:hover{
    background-color: #ddd;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}
  
.close:hover{
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.formInput{
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formInput h4{
    height: 2px;
    font-size: 14px;
    color: #808080;
    margin-top: 0px;
}

.miniFormInput{
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 5px;
    margin: 8px;
    width: 45%;
}

.miniFormInput h4{
    height: 2px;
    font-size: 14px;
    color: #808080;
    margin-top: 0px;
}

.formButton1{
    background: #4ca6ff;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}

.formButton2{
    background: transparent;
    border: 2px solid #4ca6ff;
    color: #4ca6ff;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

#forgetPassword{
    font-size: 17px;
    color: #4ca6ff;
    font-weight: bold;
}

.error{
    color: red;
    font-weight: bold;
}

#memorie{
    float: right;
    margin-right: 200px;
    cursor: pointer;
}

#memorie h3{
    padding: 5px;
}

#memorie h3:hover{
    background-color: #ddd;
    border-radius: 30px;
}

.planDiv{
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    background: #e1e1e1;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 30%;
    max-width: 30%;
}

.planDiv .textDiv{
    float: right;
    margin-right: 50%;
    margin-top: -10px;
}

.buttonsDiv{
    float: right;
    margin-top: -7%;
    margin-right: 5%;
}

.buttonsDiv img{
    cursor: pointer;
    margin-right: 20px;
}

#planMenu a{
    display: inline-block;
    margin: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

#mainPlanMenu{
    border: 1px solid #e1e1e1;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding: 1%;
}

.cameraLabel{
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 10px;
    color: #808080;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#logOutModal form{
    padding-bottom: 25px;
}

#logOutModal .formButton1{
    width: 200px;
    float: left;
    margin-top: -5px;
}

#logOutModal .formButton2{
    width: 200px;
    float: right;
    margin-top: -45px;
}

#deletePlanModal .formButton1{
    width: 200px;
    float: left;
    margin-top: -10px;
}

#deletePlanModal .formButton2{
    width: 200px;
    float: right;
    margin-top: -35px;
}

#uploadPlanModal .formButton1{
    width: 200px;
    float: left;
    margin-top: -10px;
}

#uploadPlanModal .formButton2{
    width: 200px;
    float: right;
    margin-top: -35px;
}

#editUploadedPlanModal .formButton1{
    width: 200px;
    float: left;
    margin-top: -10px;
}

#editUploadedPlanModal .formButton2{
    width: 200px;
    float: right;
    margin-top: -35px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.flex-container .chooseDiv{
    margin: 10px;
    width: 160px;
    text-align: center;
}

.flex-container .chooseDiv hr{
    border: 1px black;
    height: 2px;
    background: black;
    margin-top: 30px;
}

.flex-container .chooseDiv h4{
    cursor: pointer;
}

#browseDiv{
    margin-top: 2%;
    width: 100%;
}

#eventDiv{
    
}

.boldHr{
    height: 2px;
    background: black;
    width: 100%;
}

img:hover{
    cursor: pointer;
}

#dates a{
    border: 2px solid black;
    padding: 5px;
    border-radius: 30px;
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}

#main{
    margin: 10px;
    margin-top: -15px;
}

.event-container {
    display: flex;
    align-items: center;
    width: 100%;
    background: #d9d9d9;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 10px #bbb;
    margin-bottom: 10px;
}
  
.left-section {
    width: 10%;
    padding: 20px;
    padding-top: 15px;
}

.right-section {
    width: 90%;
    padding: 10px;
    padding-top: 0px;
}
  
.date {
    font-size: 32px;
    font-weight: bold;
}
  
.month {
    font-size: 18px;
    font-weight: bold;
}
  
.age-restriction {
    font-size: 16px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
    background: #4ca6ff;
    width: fit-content;
}
  
.title {
    font-size: 20px;
    font-weight: bold;
}
  
.time {
    font-size: 18px;
}
  
.location {
    font-size: 16px;
}
  
.vertical-line {
    border: none;
    border-left: 1px solid black;
    height: 80%;
    margin-top: 15px;
}

.interactionDiv{
    float: right;
}

.interactionDiv img{
    margin-left: 10px;
}

.profileTable td{
    font-size: 22px;
}

.arrow{
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.accountButton{
    margin: auto;
    display: block;
    font-size: 20px;
    border: 1px solid #4ca6ff;
    border-radius: 30px;
    padding: 8px;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 20px;
    background: #4ca6ff;
    color: white;
}

.miniText{
    height: 0;
}