html{
    font-family: Calibri;
    color: white;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    scroll-behavior: smooth;
    background-color: #121212;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: -10px;
}

button{
    width: 80%;
    margin: auto;
    margin-bottom: auto;
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 20px;
    background: #ffd962;
    border: none;
    border-radius: 10px;
}

footer{
    position: sticky;
    bottom: 0;
    padding-bottom: 10px;
    margin-top: auto;
}

footer table td{
    width: 33%;
    text-align: center;
}

footer img{
    border-radius: 10px;
    padding: 5px;
    width: 48px;
}

#ideaButton{
    margin: auto;
    margin-bottom: 20px;
    display: block;
    border: 3px solid #ffd962;
    padding: 10px;
    border-radius: 50px;
    width: min-content;
    height: min-content;
    font-size: 40px;
}

.search-box{
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    float: left;
}

.search-box input{
    font-size: 16px;
    height: 30px;
    margin-left: 5px;
    width: 100%;
}

.search-box img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 2px;
}

input{
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.categoryHolderDiv{
    width: 100%;
    margin-top: -15px;
}

.categoryHolderDiv>div{
    border-radius: 10px;
    aspect-ratio : 1 / 1;
    width: 20%;
    margin: 6px;
    margin-top: 10px;
}

.categoryHolderDiv div div{
    font-size: 35px;
    text-align: center;
}

.categoryHolderDiv div p{
    text-align: center;
    margin-top: 0px;
}

.headlineOption{
    color: #ffd962;
    float: right;
    margin-top: -40px;
    margin-right: 5px;
}

.idea{
    background: #262626;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: bold;
}

.date {
    text-align: right;
    color: #aaa;
}

.categoriesIdea{
    display: flex;
    flex-wrap: wrap;
}

.categoriesIdea a{
    background: #403f3f;
    border-radius: 10px;
    padding: 2px;
    padding-right: 10px;
    padding-left: 5px;
}

.priorityTD{
    width: 25%;
    font-size: 18px;
    border: 2px solid #403f3f;
    background: #403f3f;
    border-radius: 10px;
}

.priorityTDIdea{
    width: 25%;
    font-size: 18px;
    border: 2px solid #403f3f;
    background: #403f3f;
    border-radius: 10px;
}

#contentTextarea{
    margin-top: -10px;
    width: 96%;
    background: #262626;
    border: none;
    outline: none;
    border-radius: 10px;
    resize: none;
    color: white;
    font-size: 15px;
    font-family: Calibri;
    padding: 2%;
}

#contentTextareaIdea{
    margin-top: -10px;
    width: 96%;
    background: #262626;
    border: none;
    outline: none;
    border-radius: 10px;
    resize: none;
    color: white;
    font-size: 15px;
    font-family: Calibri;
    padding: 2%;
}