html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #252525;
    color: white;
}

header{
    background-color: #202020;
    padding: 30px;
    margin-top: -20px;
    margin-left: -10px;
}

.verticalHR{
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 10px;
    width: 1px; 
}

.gameTable:hover{
    background-color: #808080;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#viewMatchTable th{
    width: 10%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-container > div {
    width: 20%;
    padding: 10px;
}

.flex-container > table {
    width: 20%;
    padding: 10px;
}

#loader {
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid #252525;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
    margin: auto;
    margin-top: 20px;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#leagueTable{
    border-spacing: 10px;
}

#leagueTable th{
    text-align: right
}

#leagueTable td{
    text-align: right;
}

#leagueTable .teamName{
    text-align: left;
}

#menu{
    text-align: center;
}

#menu button{
    font-size: 20px;
    width: 150px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.placementColor{
    background: #252525;
    color: transparent;
    border-radius: 10px;
}

#logo{
    cursor: pointer;
}

#goalGetterTable{
    border-spacing: 10px;
}

#goalGetterTable td{
    text-align: right;
}

#goalGetterTable .playerName{
    text-align: left;
}

#matchDayMenu{
    text-align: center;
    margin-top: -20pxsssssss;
}

#matchDayMenu a{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.center{
    justify-content: center;
}

.viewMatchDiv{
    background-color: #808080;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
}

.close{
    text-align: right;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.flex-container .teamDiv{
    width: 60px;
    background: #303030;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    max-height: 90px;
}

.gameDiv{
    background: #303030;
    border-radius: 30px;
    text-align: left;
    margin: 20px;
}

.gameDiv h4{
    margin-bottom: -10px;
    margin-left: 10px;
}

.gameDiv p{
    margin-left: 10px;
    margin-bottom: 5px;
}

#allMatchesTable{
    justify-content: center;
}

.teamRow{
    cursor: pointer;
}

#matchDayView{
    margin: 50px;
}

.cloneTableMatchDay1{
    width: 2%;
}

#cloneTableMatchDay2{
    width: 16%;
}

#leagueTable{
    width: 46%;
}

#goalGetterTable{
    width: 36%; 
    margin: auto;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
    }

    header{
        margin-left: 0px;
    }

    .flex-container > table {
        width: 100%;
        padding: 10px;
    }

    .flex-container > div {
        width: 100%;
        padding: 10px;
    }

    .gameDiv table{
        width: 90%;
        margin: auto;
    }

    #matchDayView{
        margin: 20px;
    }

    .cloneTableMatchDay1{
        width: 10%;
    }
    
    #cloneTableMatchDay2{
        width: 80%;
    }

    #goalGetterTable{
        width: 90%;
    }

    #leagueTable{
        width: 90%;
    }

    #menu button{
        margin-top: 10px;
    }

    .viewMatchDiv{
        width: auto;
    }

    #viewMatchTable{
        width: 100%;
    }

    #viewMatchTable th {
        width: 33%;
    }
}