html{
    font-family: Calibri;
    color: #464e47;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    scroll-behavior: smooth;
}

body{
    margin: -10px;
}

header{
    position: sticky;
    top: 0;
    padding: 20px;
    background: white;
}

a{
    text-decoration: none;
    color: #464e47;
    font-size: 22px;
    margin: 10px;
}

a:hover{
    color: #568259;
    text-decoration: underline;
}

h1{
    font-size: 50px;
    margin-bottom: -10px;
    margin-top: -20px;
}

h2{
    text-decoration: underline;
}

h3{
    color: #568259;
}

section{
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 30%;
    padding-top: 120px;
}

button{
    width: 400px;
    font-size: 17px;
    padding: 10px;
    background: transparent;
    border: 2px solid #568259;
    border-radius: 10px;
    color: #568259;
    cursor: pointer;
}

button:hover{
    background-color: #568259;
    color: white;
}

p{
    font-size: 20px;
}

svg{
    width: 30px;
}

td{
    font-size: 20px;
}

footer{
    text-align: center;
    padding-bottom: 20px;
    margin-top: -300px;
}

footer p{
    font-size: 15px;
}

#contact{
    text-align: center;
    margin-left: 0;
}

.clickableImg{
    padding: 5px;
}

.clickableImg:hover{
    cursor: pointer;
    background: #c0ddc2;
    border-radius: 40px;
}

#headerName{
    text-decoration: none;
    cursor: pointer;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
  
.flex-container > div{
    background-color: #f1f1f1;
    width: 300px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
}

.flex-bottom{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-bottom > div{
    width: 50%;
}

.viewButton{
    width: 140px;
    padding: 3px;
    font-size: 17px;
    background: transparent;
    border: 2px solid #568259;
    border-radius: 10px;
    color: #568259;
    cursor: pointer;
    height: 40px;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 10px;
}

.flex-container .description{
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: -20px;
    line-height: 25px;
}

.link{
    text-decoration: underline;
    font-size: 20px;
    margin: 0px;
}