:root{
    --background: #161618;
    --main: white;
    --highlight: #f27059;
    --hover: #333333;
    --hr: #454545;
}

html{
    background-color: var(--background);
    color: var(--main);
    font-family: Open Book,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

body{
    margin: 20px;
}

header{
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: var(--background);
    margin-top: -20px;
    padding-top: 20px;
}

#menu{
    width: 60%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 45px;
    margin-top: -60px;
}

#menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--main);
    padding: 5px;
    border-radius: 5px;
}

#menu a:hover{
    color: var(--highlight);
    background-color: var(--hover);
    transition: background-color 0.5s;
}

a{
    text-decoration: none;
    color: unset;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--hr);
    margin: 1em 0;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;
}

img:hover{
    z-index: 1;
    transform: scale(0.92);
    transition: transform 0.5s;
    cursor: pointer;
}

#home{
    width: 60%;
    margin: auto;
}

#home p{
    text-align: center;
    font-size: 16px;
    color: #b9b9b9;
}

#data{
    width: 60%;
    margin: auto;
}

h1{
    font-weight: normal;
    font-size: 36px;
    width: 75%;
    line-height: 1.5;
}

h1 a{
    font-weight: bold;
}

h1 a:hover{
    color: var(--highlight);
}

.aboutLink{
    font-size: 25px;
    text-decoration: none;
    font-weight: 650;
    color: var(--highlight);
}

.aboutLink:hover{
    text-decoration: underline;
}

footer{
    margin-top: auto;
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 5%;
}

footer p{
    text-align: center;
    font-size: 14px;
    color: #b9b9b9;
}

button{
    background: var(--background);
    color: var(--highlight);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    border: 2px solid var(--highlight);
    cursor: pointer;
    font-weight: 600;
    font-family: Open Book,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

button:hover{
    transform: scale(0.95);
    transition: transform 0.5s;
}

#downloadButton{
    width: fit-content;
    height: 45px;
}

#deleteButton{
    width: fit-content;
    height: 45px;
}

.imageDiv img{
    width: 30%;
    height: 30%;
    margin: auto;
    display: block;
}

.flexContainer{
    display: flex;
    width: 60%;
    margin: auto;
}

#backHomeButton{
    width: 80%;
}

@media only screen and (max-width: 600px) {
    #menu{
        width: 90%;
        margin-bottom: -10px;
    }

    h1{
        font-size: 30px;
        width: 100%;
    }

    .aboutLink{
        font-size: 22px;
    }

    #home{
        width: 100%;
        margin: 0;
    }

    #data{
        width: 100%;
        margin: 0;
    }

    .imageDiv img{
        width: 100%;
        height: 100%;
    }

    .flexContainer{
        width: 100%;
    }

    #backHomeButton{
        width: 70%;
    }
}