html{
    background-color: #1b1c1b;
    color: white;
    font-family: "Calibri";
}

hr{
    border-bottom: 1px solid #000;
    left: 385px;
    position: absolute;
    right: 385px;
    top: 155px;
}

#firstHR{
    border-bottom: 1px solid  white;
    left: 385px;
    position: absolute;
    right: 1475px;
    top: 155px;
}

#secondHR{
    border-bottom: 1px solid  white;
    left: 445px;
    position: absolute;
    right: 1405px;
    top: 155px;
}

th{
    font-size: 25px;
    font-weight: bold;
}

.littleText{
    font-size: larger;
    color: rgb(168, 168, 168);
}

td{
    font-size: larger;
    color: white;
}

.hover:hover{
    cursor: pointer;
}

table{
    border-collapse: separate;
    border-spacing: 0 15px;
}

#toDoTableTop{
    width: 60%;
    margin: auto;
    margin-top: 100px;
}

.toDoTable{
    width: 60%;
    margin: auto;
    margin-top: -30px;
}

#sortMenu{
    border-radius: 5px;
    background-color: #252525;
    padding: 10px;
    left: 1310px;
    position: absolute;
    right: 419px;
    top: 170px;
}

#sortMenu input{
    border-radius: 5px;
    background-color: #303030;
    border: none;
    color: white;
    padding: 3px;
}

#sortMenu input:focus{
    outline: none;
}

#sortMenu select{
    background-color: #252525;
    color: white;
    width: 170px;
    border: none;
}

.sortTag{
    background-color: #2a72de;
    border: 1px solid #2a72de;
    border-radius: 5px;
    width: 140px;
    padding: 2px;
    color: white;
    text-align: center;
    margin: 13px;
}

.modalTable{
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 20px;
    margin-top: -10px;
}

.tag{
    font-size: medium;
    background-color: red;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

.tag:hover{
    cursor: pointer;
}

#createNewTaskMenu{
    border-radius: 5px;
    background-color: #252525;
    padding: 10px;
    left: 930px;
    position: absolute;
    right: 390px;
    top: 170px;
}

#chooseTagButton{
    box-sizing: border-box;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    margin-left: 40px;
    background-color: #252525;
    font-weight: bold;
}

#taskTextInput{
    background-color: #252525;
    border: none;
    color: white;
}

#taskTextInput:focus{
    outline: none;
}

#chooseTagMenu{
    border-radius: 5px;
    background-color: #252525;
    padding: 10px;
    left: 930px;
    position: absolute;
    right: 390px;
    top: 170px;
}

#newTagButton{
    margin-left: 10px; 
    margin-bottom: 10px; 
    width: 100px; 
    margin-top: 10px;
}

#newTagMenu{
    border-radius: 5px;
    background-color: #252525;
    padding: 10px;
    left: 930px;
    position: absolute;
    right: 390px;
    top: 170px;
}

#newTagMenu p{
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
}

#newTagMenu input{
    background-color: #252525;
    border: none;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

#newTagMenu input:focus{
    outline: none;
}

.lilButton{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2a72de;
    color: white;
    width: 50px;
    height: 30px;
    font-size: large;
    border: none;
    font-weight: normal;
}

#flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
  
#flex-container > div{
    min-width: 100px;
    margin: 10px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    height: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.important{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #1b1c1b;
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
    font-weight: normal;
    text-align: center;
}

.important:hover{
    border: 1px solid  red;
    color: red;
    cursor: pointer;
}

.importantselected{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: red;
    border: 1px solid red;
    color: white;
    font-weight: normal;
    text-align: center;
}

.importantselected:hover{
    cursor: pointer;
}

.midButton{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #2a72de;
    color: white;
    width: 100px;
    height: 40px;
    font-size: large;
    border: none;
    font-weight: normal;
}

.checkboxButton{
    background-color: #1b1c1b;
    color: #1b1c1b;
    border: 2px solid white;
    border-radius: 5px;
}

.colorbox{
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    border-radius: 5px;
    padding: 5px;
}

.black{
    color: black;
    background-color: black;
    border: 1px solid black;
}

.white{
    color: white;
    background-color: white;
    border: 4px solid black;
}

.grey{
    color: grey;
    background-color: grey;
    border: 1px solid grey;
}

.brown{
    color: rgb(75, 45, 45);
    background-color: rgb(75, 45, 45);
    border: 1px solid rgb(75, 45, 45);
}

.orange{
    color: orange;
    background-color: orange;
    border: 1px solid orange;
}

.yellow{
    color: yellow;
    background-color: yellow;
    border: 1px solid yellow;
}

.green{
    color: green;
    background-color: green;
    border: 1px solid green;
}

.blue{
    color: blue;
    background-color: blue;
    border: 1px solid blue;
}

.purple{
    color: purple;
    background-color: purple;
    border: 1px solid purple;
}

.pink{
    color: pink;
    background-color: pink;
    border: 1px solid pink;
}

.red{
    color: red;
    background-color: red;
    border: 1px solid red;
}

.editButton{
    cursor: pointer;
    width: 20px;
    margin-left: 10px;
}

.editInput{
    background-color: #1b1c1b;
    border: none;
    color: white;
    outline: none;
    font-size: 15px;
}

.sendButton{
    cursor: pointer;
    background-color: #1b1c1b;
    color: white;
    border: none;
    font-size: 18px;
}

.deleteDailyTask{
    color: red;
    cursor: pointer;
    text-align: center;
    border: 1px solid red;
    border-radius: 20px;
}

.deleteDailyTask:hover{
    color: #1b1c1b;
    background-color: red;
}